langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
langchain
langchain_openai
langchain-google-genai
ddgs
mcp
langchain-mcp-adapters
dotenv
fastapi
uvicorn
python-multipart
langchain-chroma
langchain-text-splitters
pypdf
python-docx

# dev / test
pytest
pytest-asyncio